<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand">ALQUILERES</a>
</nav>
<div class="container" id="contenedor">
    <div class="row pt-5" id="App">
        <div class="col-md-12 text-center" id="insertar">
                        <div class="col-md-12 text-center" id="insertar">
                <table class="table" id="insertar-filas">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Patente</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Accion</th>
                      </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="module" src="js/motos.js"></script>