<div class="container d-flex align-items-center">
    <h1 class="display-4">Motocicletas</h1>
    <div class="d-flex ml-auto align-items-center">
        <button type="button" class="btn btn-block btn-primary mr-2" id="ingresar-moto"><i class="fas fa-tasks"></i>
            Ingresar motocicleta
            </button>
        <select name="rol" id="rol-buscar" class="form-control mr-sm-2">
            <option>todos</option>
            <option>gilera</option>
            <option>honda</option>
            <option>yamaha</option>
            <option>zanella</option>
            <option>beta</option>
        </select>
        <i class="fas fa-search btn text-success" id="buscar"></i>
    </div>
</div>
<div class="container" id="contenedor">
    <div class="row" id="App">
        <div class="col-md-12 text-center" id="insertar"></div>
    </div>
</div>
<script type="module" src="js/motos/motos.js""></script>