<div class="row w-100">
    {{>sidebar}}
    <div class="col-md-10">
        <div class="d-flex align-items-center pt-3 pb-3">
            <h3 class="display-5">Tareas</h3>
            <div class="d-flex ml-auto align-items-center col-md-6">
                <button type="button" class="btn btn-primary mr-2 btn-block" id="ingresar-tarea">
                    <i class="fas fa-tasks"></i>
                    Agregar Tarea
                </button>
                <select name="rol" id="estado-buscar" class="form-control mr-sm-2">
                    <option>todos</option>
                    <option value="true">En Curso</option>
                    <option value="false">Terminadas</option>
                </select>
                <button type="button" class="btn btn-outline-success" id="buscar-tarea"><i
                        class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="container" id="contenedor">
            <div class="row" id="App">
                <div class="col-md-12 text-center" id="insertar"></div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="js/tareas/tareas.js"></script>
<script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>