<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">MANEJATE</h1>
  <p class="lead">Ya es hora que decidas vos como querés moverte...</p>
</div>
<div class="container">
    <div class="card-columns">
        {{#each result}}
        <div id="{{_id}}" class="card mb-4 shadow-sm" data-toggle="modal" data-target=".modal">
            <img class="card-img-top"
                src="https://img2.freepng.es/20190806/ogq/kisspng-scooter-motorcycle-transparency-drawing-scooter-drawing-free-download-on-omaha-5d48fc5adf0c95.3741451815650642829136.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{marca}} {{modelo}}</h5>
                <p class="card-text"></p>
            </div>
            <div class="card-footer">
                <small class="text-muted"></small>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{! MODAL ALQUILER }}
<div id="modal-alquiler" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="motocicleta" />
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="fechaEntrega">Fecha de entrega</label>
                        <input class="form-control" type="date" name="fechaEntrega" />
                    </div>
                    <div class="col-6 form-group">
                        <label for="fechaDevolucion">Fecha de devolución</label>
                        <input class="form-control" type="date" name="fechaDevolucion" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button btn-alquilar type="button" class="btn btn-primary">Alquilar</button>
            </div>
        </div>
    </div>
</div>
{{! FIN MODAL ALQUILER }}

{{! MODAL RESPUESTA ALQUILER }}
<div id="modal-respuesta" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
{{! MODAL RESPUESTA ALQUILER }}

<script src="/js/index.js"></script>