/*Modal fade*/
.mascara,
.contenedor-modal {
    display: none; 
    position: fixed; 
    z-index: 50000; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0,0,0,0.8); 
}
.contenido,
.contenido-modal {
    border-radius: 10px;
    animation: modal 1s;
    position: fixed;
    top: 15vh;
    left: 10vw;
    right: 10vw;
    margin: auto;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: auto;
    max-width: 450px;
}
.cerrar {
    color: #aaaaaa;
    margin-left: auto;
    font-size: 28px;
    font-weight: bold;
}
.cerrar:hover,
.cerrar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
@keyframes modal {
    0% {
        transform: translateY(-150%);
    }
}

/* MODAL SIGNUP */
.contenido-title {
    display: flex;
    align-items: center;
}

.contenido-title img {
    max-width: 10%;
}

.contenido-title h4 {
    margin: 0;
    margin-left: 15px;
}