<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky position-fixed">
        <ul class="nav flex-column">
            <li class="nav-item">
                <h5 class="nav-link text-success">
                    <i class="fas fa-user mr-2"></i>
                    {{user.nombre}}
                    {{user.apellido}}
                </h5>
            </li>
            {{#sidebar user}}
            {{/sidebar}}
            <li class="nav-item">
                <a class="nav-link" href="/users/newpass">
                    <i width="1.2em" height="1.2em" class="fas fa-unlock-alt"></i>
                    Cambiar Password
                </a>
            </li>
        </ul>
    </div>
</nav>