<div class="row w-100">
    {{>sidebar}}
    <div class="col-md-10 filas-detalles">
        <div class="container d-flex align-items-center pt-3 pb-3">
            <h3 class="display-5">Alquileres</h3>
            <div class="d-flex ml-auto align-items-center col-md-6">
                {{#if mostrar}}
                <input type="text" class="form-control" value="{{usuario}}" placeholder="Usuario" id="usuario-busqueda">
                <select name="rol" id="estado-buscar" class="form-control mr-sm-2">
                    <option>todos</option>
                    {{#each estados as |item|}}
                    <option {{#if item.select}}selected{{/if}}>{{item.nombre}}</option>
                    {{/each}}
                </select>
                <i class="fas fa-search btn text-success" id="buscar"></i>
                {{/if}}
            </div>
        </div>
        <div class="container" id="contenedor">
            <div class="row" id="App">
                {{> alquiler/index alquileres}}
            </div>
        </div>
    </div>
</div>
{{!-- MODAL DETALLE MOTO --}}
<div class="contenedor-modal">
    <div class="contenido-modal">
        <div class="contenido-title">
            <img src="/img/motorcycle-solid.svg" alt="moto">
            <h4>Detalle Moto</h4>
            <span class="cerrar" id="cerrarRegistro">&times;</span>
        </div>
        <hr>
        <div class="contenido-body">
            <div class="col-md-4 mx-auto">
                <img src="" alt="img" class="img-fluid" id="img-modal">
            </div>
            <hr>
            <div class="col-md-12">
                <div class="d-flex">
                    <p class="my-auto">Marca:</p>
                    <p class="text-muted ml-2 my-auto" id="marca"></p>
                </div>
                <hr class="text-muted mt-2 mb-2">
                <div class="d-flex">
                    <p class="my-auto">Modelo:</p>
                    <p class="text-muted ml-2 my-auto" id="modelo"></p>
                </div>
                <hr class="text-muted mt-2 mb-2">
                <div class="d-flex">
                    <p class="my-auto">Precio:</p>
                    <p class="text-muted ml-2 my-auto" id="precio"></p>
                </div>
                <hr class="text-muted mt-2 mb-2">
                <div class="d-flex">
                    <p class="my-auto">Descripcion:</p>
                    <p class="text-muted ml-2 my-auto" id="descripcion"></p>
                </div>
                <hr class="text-muted mt-2 mb-2">
                <div class="d-flex">
                    <p class="my-auto">Ubicacion:</p>
                    <p class="text-muted ml-2 my-auto" id="ubicacion"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="/js/alquiler.js"></script>