<div class="container" id="contenedor">
    <h1 class="display-4">Alquileres</h1>
    <div class="row" id="App">
        {{> alquiler/index alquileres }}
    </div>
</div>
<script type="module" src="js/alquileres.js"></script>