<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand">ALQUILERES</a>
</nav>
<div class="container" id="contenedor">
    <div class="row pt-5" id="App">
        {{> alquiler/index alquileres }}
    </div>
</div>
<script type="module" src="js/alquileres.js"></script>