<div class="row w-100">
    {{>sidebar}}
    <div class="col-md-10">
        <div class="container" id="contenedor">
            <h3 class="display-5 pt-3 mb-3">Alquileres</h3>
            <div class="row" id="App">
                {{> alquiler/index alquileres }}
            </div>
        </div>
    </div>
</div>
<script type="module" src="js/alquiler.js"></script>